.root-container {
    -fx-font-family: 'Times New Roman', serif;
    -fx-background-color: #f0f0f0;
    -fx-padding: 20px;
}

.description-label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;  /* Correction de la valeur du font-weight */
    -fx-text-alignment: center;
    -fx-padding: 10px 0;
    -fx-text-fill: green;
}

.description-text {
    -fx-font-size: 16px;
    -fx-font-weight: bold;  /* Correction de la valeur du font-weight */
    -fx-text-alignment: center;
    -fx-padding: 10px 5px;
    -fx-background-color: #e0e0e0;
}
